<div id="app">
<main>
	<div id = "Home">	
	<h1>Fantasy Festival</h1>

	<div>
    Budget: £{{budget.toLocaleString()}}
    <h2 style="color: red;">{{errorMessage}}</h2>
    <h2>Selected Bands</h2>
    <h3>Money left: £{{amountRemaining.toLocaleString()}}</h3>
    <ul>
      <li v-for="band, index in selectedBands">
        <div id="band" class="band">
          {{ band.name }} | Cost: £{{band.price.toLocaleString()}} <button v-on:click="removeBandFromSelection(band, index)">-</button>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h2>Bands</h2>
    <input type="text" v-model="searchTerm">
    <ul>
      <li v-for="band, index in filteredItems" v-if="!band.selected">
        <div id="band" class="bands">
          {{ band.name }} | Cost: £{{band.price.toLocaleString()}} 
            <button 
              v-on:click="addBandToSelection(band, index)" 
              :disabled="disableAddButton"
            >+</button>
        </div>
      </li>
    </ul>
  </div>
	</div>
</main>
	
</div>

<script src="https://unpkg.com/vue"></script>

<script>
const app = new Vue({
		el: '#app',
		data: {
			bands: [
				{ "id": 1, "name": 'Slipknot', "price": 10000000, "selected": false },
				{ "id": 2, "name": 'Alter Bridge', "price": 5000000, "selected": false  },
				{ "id": 3, "name": 'Rihanna', "price": 7500000, "selected": false  },
				{ "id": 4, "name": 'Backstreet Boys', "price": 9000000, "selected": false  }
			],
      selectedBands: [],
      budget: 100000000,
      amountSpent: 0,
      amountRemaining: 100000000,
      errorMessage: '',
      searchTerm: '',
      numberOfBandsAllowed: 1,
      disableAddButton: false
		},
		methods: {
      addBandToSelection(band, index) {
        if(this.selectedBands.includes(band)){
          this.errorMessage = band.name + "have/has already been selected";
          return;
        }
        if(this.amountRemaining - band.price < 0){
          this.errorMessage = "Adding " + band.name + " will take you over budget!";
          return;
        }
        this.selectedBands.push(band);
        this.amountRemaining -= band.price;
        this.amountSpent += band.price;
        this.bands[index].selected = true;
        this.disableAddButton = this.selectedBands.length >= this.numberOfBandsAllowed;
			},
      removeBandFromSelection(band, index) {
        errorMessage = "";
        this.selectedBands.pop(band);
        this.amountRemaining += band.price;
        this.amountSpent -= band.price;
        this.bands[index].selected = false;
        this.disableAddButton = this.selectedBands.length >= this.numberOfBandsAllowed;
			}
    },
    computed: {
      filteredItems() {
        //Order by name
        let orderedBands = this.bands;
        orderedBands = orderedBands.sort((a, b) => {
          let fa = a.name.toLowerCase(), fb = b.name.toLowerCase()
    
          if (fa < fb) {
            return -1
          }
          if (fa > fb) {
            return 1 
          }
          return 0      
        })

        //Filter on search term
        return orderedBands.filter(band => {
         return band.name.toLowerCase().indexOf(this.searchTerm.toLowerCase()) > -1
      })
    }
    }
	}
)
</script>

<style>
</style>