<div id="app">
<main>
	<div id = "Home">	
	<h1>Fantasy Festival</h1>

	<div>
    Budget: £{{budget.toLocaleString()}}
    <h2>Selected Bands</h2>
    <h3>Money left: £{{amountRemaining.toLocaleString()}}</h3>
    <ul>
      <li v-for="band, index in selectedBands">
        <div id="band" class="band">
          {{ band.name }} | Cost: £{{band.price.toLocaleString()}} | <input type="number" v-model="band.position" min="1" :max="numberBandsAllowed"/> <button v-on:click="removeBandFromSelection(band, index)">-</button>
        </div>
      </li>
    </ul>
  </div>

  <div class="search-wrapper">
    <input type="text" v-model="searchTerm" placeholder="Search artist.."/>
  </div>
  <div>
    <h2>Bands</h2>
    <ul>
      <li v-for="band, index in availableBands">
        <div id="band" class="bands">
          {{ band.name }} | Cost: £{{band.price.toLocaleString()}} <button v-on:click="addBandToSelection(band, index)">+</button>
        </div>
      </li>
    </ul>
  </div>
	</div>
</main>

</div>

<script src="https://unpkg.com/vue"></script>

<script>
const app = new Vue({
		el: '#app',
		data: {
			bands: [
				{ "id":1, "name": 'Slipknot', "price": 10000000, "selected": false, "position": 0 },
				{ "id":2, "name": 'Alter Bridge', "price": 5000000, "selected": false, "position": 0  },
				{ "id":3, "name": 'Rihanna', "price": 7500000, "selected": false, "position": 0 },
				{ "id":4, "name": 'Backstreet Boys', "price": 9000000, "selected": false, "position": 0 }
			],
      budget: 100000000,
      amountSpent: 0,
      amountRemaining: 100000000,
      errorMessage: '',
      searchTerm: '',
      nextPosition: 1,
      numberBandsAllowed: 10
		},
		methods: {
      addBandToSelection(band, index) {
        this.amountRemaining -= band.price;
        this.amountSpent += band.price;
        var selectedBand = this.bands.find(b => b.id == band.id);
        selectedBand.selected = true;
        selectedBand.position = this.nextPosition;
        this.nextPosition++;
			},
      removeBandFromSelection(band, index) {
        this.amountRemaining += band.price;
        this.amountSpent -= band.price;
        var selectedBand = this.bands.find(b => b.id == band.id);
        selectedBand.selected = false;			
      },
    },
    computed: {
      availableBands() {
        let availableBands = this.bands.filter(b => !b.selected);
        availableBands = availableBands.sort((a, b) => {
            let fa = a.name.toLowerCase(), fb = b.name.toLowerCase()

            if (fa < fb) {
              return -1
            }
            if (fa > fb) {
              return 1 
            }
            return 0      
          })

          //Filter on search term
          return availableBands.filter(band => {
            return band.name.toLowerCase().indexOf(this.searchTerm.toLowerCase()) > -1
        })
      },
      selectedBands() {
        let selectedBands = this.bands.filter(b => b.selected);
        selectedBands.sort(function (a, b) {
          return a.position - b.position;
        });
        return selectedBands;
      }
    }
	}
)
</script>

<style>
  @import 'style.css';
</style>